/* font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Sacramento', cursive; */

body{
    margin: 0PX;
    padding: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    color:#40514E
}
hr{
    border: dotted #d5fcfc 6PX;
    border-bottom: none;
    width: 4%;
    margin: 100px auto 100px auto;
}

p{
    line-height: 2;
}
h1{ font-size: 90px;
    margin-top: 0%;
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0 auto;
    color: #66bfb0;
 }
    
    h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 2.5rem ;
        color: #4fb3a2;
        font-weight: normal;
        font-weight: bolder;

    }
    
    h3{
        color: #11999E;
        font-weight: 900;

        font-family: 'Montserrat', sans-serif;
    }
    a{
        color:#00e8f0;
        font-family: 'Montserrat', sans-serif;
        margin: 10px 20px;
        text-decoration: none;

    }
    a:hover{
        color: #EAF6F6;
    }
    .intro{
        width: 30%;
        margin: auto;
    }

.top{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
    
}
.prog{
    text-decoration: underline;
}

.middle-container{
    margin: 100px 0 100px 0;
    


}
.bottom-container{
    background-color:#66BFBF ;
    padding: 50px 0 20px;
    

}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}
.skill-row{ 
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.code-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.comp-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}
    

.mohit{
    width: 20%;
}
.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}
.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    text-decoration: none;
  }

  .copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
  }